{% extends 'learning_users/base.html' %}
{% block body %}

    <div class="jumbotron">
    <h1>LOGIN!</h1>
    <form method="post" action="{% url 'learning_users:user_login' %}">
        {% csrf_token %}
        <label for="username">UserName:</label>
        <input type="text" name="username" placeholder="Enter UserName" >

        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="LOGIN">

    </form>
    </div>

{% endblock %}